.form-content-item{
    margin-bottom: 20px;
}
.form label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #343A46;
    margin-bottom: 10px;
}
.form input , textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #CED4DA;
    outline: none;
    color: #343A46;
    border-radius: 5px;
    transform: .3s;
}
input:focus,
textarea:focus{
    box-shadow: 0 0 0 3px rgb(140 140 140 );
}
.form textarea{
    resize: none;
    height: 100px;
}
.form-button{
    float: right;
    text-align: center;
    width: 180px;
    height: 33px;
    color: #fff;
    font-weight: bold;
    background-color: #FF3200;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}